.landing-container {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
}

.landing-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}

.landing-content {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40%;
}

.landing-title {
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.landing-subtitle {
    margin-top: 24px;
    color: #fff;
    font-size: 24;
    text-align: center;
    max-width: 600px;
}


