.sidebar-container {
    display: none;
}

.sidebar-container.active {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 100%;
    top: 0;
}

.close-icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    color: white;
}

.sidebar-wrapper {
    color: #fff;
}

.sidebar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 10px);
    text-align: center;
}

.hide {
    display: none;
}

.sidebar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.sidebar-links:hover{
    color: #FB85F2;
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
}

.social-links {
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-links::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5)
}

@media screen and (max-width: 960px) {
    .sidebar-menu{
        grid-template-rows: repeat(6, 10px);
    }
}
