.faq-container {
  background-color: black;
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.accordion {
  color: white;
  width: 90%;
  max-width: 700px;
  cursor: pointer;
}
/*
.item-accordion {
  box-shadow: 1px 4px 20px 2px rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
  padding: 10px 20px;
}*/

.item-accordion {
  position: relative;
  margin-bottom: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 5px 0;
  text-transform: uppercase;
  transition: .3s;
  overflow: hidden;
}

.item-accordion:hover{
  color: #fff;
}

.item-accordion:hover:before{
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.item-accordion:hover:after{
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.item-accordion:before{
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;

  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.item-accordion:after{
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;

  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.title-accordion {
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-accordion {
  color: bisque;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content-accordion.show {
  color: bisque;
  max-height: 9999;
  height: auto;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.accordion-dropdown {
  background: #1c1c1c;
  color: #00ffb9;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00ffb9;
  border-top: 1px solid #00ffb9;
}